<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoTech</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../CSS/styles.css">
</head>
<body>

    <header class="bg-primary text-white text-center py-3">
        <h1 class="textShadow">Bienvenido a InfoTech</h1>
        <p>Explora artículos interesantes sobre tecnologia</p>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="index.html">
                <img src="./img/InfoTechLogo.jpg" alt="Logo del blog" class="img-fluid" width="150">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="./nosotros.html">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="./contacto.html">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" href="./trabajaConNos.html">Trabaja con Nosotros</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container my-5">
        <div class="row">
            <div class="col-md-6 textShadow">
                <h2>Descubre lo último en tecnología</h2>
                <p>Somos una página dedicada a contarte todo lo nuevo respecto a tecnologias y a conectarte con lo nuevo.
                    Enterate de lo último suscribiendote y recibiendo las últimas noticias vía mail, whatsapp o nuestras redes sociales.
                </p>
            </div>
        </div>
        <section class="my-5">
            <h2 class="text-center mb-4 textShadow">Últimas novedades</h2>
            <div class="row">
                <!-- Artículo 1 -->
                <div class="col-md-4">
                    <div class="card h-100 d-flex flex-column">
                        <img src="../img/windows12.jpeg" class="card-img-fix" alt="Windows12">
                        <div class="card-body flex-grow-1 d-flex flex-column">
                            <h5 class="card-title">Windows 12</h5>
                            <p class="card-text">Se reconstruirá un nuevo Windows prácticamente desde cero, añadiendo tan solo lo que sea necesario.
                                Microsoft quiere, del mismo modo, que Windows 12 pueda estar optimizado para chips específicos. Están pues trabajando en una versión "silicon-optimized"</p>
                            <a href="#" class="btn btn-primary mt-auto">Más información</a>
                        </div>
                    </div>
                </div>
                
                <!-- Artículo 2 -->
                <div class="col-md-4">
                    <div class="card h-100 d-flex flex-column">
                        <img src="../img/S10FEplus.jpg" class="card-img-fix" alt="S10FEPLUS">
                        <div class="card-body flex-grow-1 d-flex flex-column">
                            <h5 class="card-title">Samsung Galaxy Tab S10 FE Plus</h5>
                            <p class="card-text">La próxima aparición en tablets de Samsung tiene una supuesta rebaja de hardware en la última filtración</p>
                            <a href="#" class="btn btn-primary mt-auto">Más información</a>
                        </div>
                    </div>
                </div>
        
                <!-- Artículo 3 -->
                <div class="col-md-4">
                    <div class="card h-100 d-flex flex-column">
                        <img src="../img/RTX5090.jpg" class="card-img-fix" alt="RTX5090">
                        <div class="card-body flex-grow-1 d-flex flex-column">
                            <h5 class="card-title">RTX 5090</h5>
                            <p class="card-text">Nvidia este año solo lanzara RTX5090, el resto para 2025</p>
                            <a href="#" class="btn btn-primary mt-auto">Más información</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2025 - InfoTech</p>
        <div>
            <a href="https://www.facebook.com" target="_blank" class="text-white mx-2">
                <i class="bi bi-facebook"></i> Facebook
            </a>
            <a href="https://www.twitter.com" target="_blank" class="text-white mx-2">
                <i class="bi bi-twitter"></i> Twitter
            </a>
            <a href="https://www.instagram.com" target="_blank" class="text-white mx-2">
                <i class="bi bi-instagram"></i> Instagram
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>